<section id="presentation">
    <h2> Qui sommes nous ?</h2>
<article>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam est asperiores minus cupiditate delectus ea voluptatum ipsum adipisci dolor! Quod ab distinctio quibusdam, at iste autem facere commodi sequi voluptates molestiae. Quia optio enim exercitationem mollitia tempora asperiores nemo possimus. Amet deleniti aliquid expedita quasi atque enim ipsum inventore unde laboriosam. Similique, at. Aspernatur id debitis tenetur perferendis! Minus eum dignissimos quidem non porro quis itaque corporis ipsam. Atque accusamus assumenda optio laudantium sit. Quod dicta aut ipsum nulla labore, est impedit alias beatae minima necessitatibus odit debitis mollitia quis soluta consectetur fuga molestiae consequatur fugiat eligendi eveniet laborum repellendus!
</article>

</section>

<section id="lieu" >
<h2>Métrotech</h2>
<div class="metro"><img src="../../../../assets/img/Metrotech.jpeg" alt="metrotech"></div>
</section>

<section id="organigramme">
    <h2>Organigramme</h2>
    <div class="employe">
        <img src="../../../../assets/img/Nico.jpeg" alt="Nico">
        <article> Directeur technique</article>
    </div>
    <div class="employe">
        <img src="../../../../assets/img/Max.jpeg" alt="Max">
        <article>directeur commerciale</article>
    </div>
    <div class="employe">
        <img src="../../../../assets/img/1648642170922.jpeg" alt="Kory">
        <article>directeur relation</article>
    </div>

</section>