<div id="corp">

    <div>
    <img src="../../../../assets/img/Produit fini.png" alt="produit">
    </div>

    <div>
    <p>Voici notre bracelet connecté, pour montre Automatique Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nihil repellendus, iusto maiores in natus mollitia dolores reprehenderit veniam enim, nam molestiae. Quod esse voluptatem voluptatum! Repellendus ad sequi error necessitatibus provident facere hic nam, modi, ut ducimus est iste repellat facilis delectus atque odio sunt, dolore praesentium maxime aliquid rerum. Perferendis repellendus quidem saepe tenetur accusamus exercitationem ab. Voluptatibus minus sapiente tempore labore tenetur aspernatur! Incidunt maiores non eligendi ducimus in voluptas pariatur illum a, deleniti, explicabo modi fugiat aliquam ea fugit repellendus rerum! Quibusdam laborum accusantium autem, numquam ut sint quam cupiditate dolore impedit amet commodi enim provident.
    </p>
    </div>
</div>

<div id="vue">
        <div>
        <img id="vue" src="../../../../assets/img/Vue eclate.png" alt="">
        </div>
        <div id="corpVue">
        <p>sur cette vue vous pouvez observer Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio fugit illo soluta facere optio sapiente vero eius alias iste pariatur est repellat aspernatur saepe, numquam quam. Recusandae odio voluptatem veritatis error optio dolorem delectus eaque. Porro rem, nisi perferendis.</p>
        </div>
</div>

