
    <section>
        <div>
        <img id="vue" src="../../../../assets/img/Produit fini.png" alt="">
        </div>

        
        <article>sVoici le produit fini Lorem ipsum dolor sit 
            amet consectetur adipisicing elit. Distinctio fugit illo 
            soluta facere optio sapiente vero eius alias iste pariatur
             est repellat aspernatur saepe, numquam quam. Recusandae 
             odio voluptatem veritatis error optio dolorem delectus 
             eaque. Porro rem, nisi perferendis.
        </article>
        
    </section>

    <section>
            <div>
            <img id="vue" src="../../../../assets/img/Vue eclate.png" alt="">
            </div>

            
            <article>sur cette vue vous pouvez observer Lorem ipsum dolor sit 
                amet consectetur adipisicing elit. Distinctio fugit illo 
                soluta facere optio sapiente vero eius alias iste pariatur
                 est repellat aspernatur saepe, numquam quam. Recusandae 
                 odio voluptatem veritatis error optio dolorem delectus 
                 eaque. Porro rem, nisi perferendis.
            </article>
            
    </section>

