<form class="container" [formGroup]="contactForm" (ngSubmit)="submit()">   

    <h1 style="text-align: center;">Formulaire de contact</h1>
        <div class="nom_prenom">
            <div id="nom">
                <div>Nom</div>
                <input type="text"
                placeholder="Votre nom"
                formControlName="nom"
                ngModel pattern="[a-zA-Z ]*">
                <p [hidden]="nom.valid || nom.pristine" style="color: red;">
                    Le nom ne doit comporter que des lettres</p>
            </div>
            <div id="prenom">
                <div>Prénom</div>
                <input type="text"
                placeholder="Votre prenom"
                formControlName="prenom"
                ngModel pattern="[a-zA-Z ]*">
                <p [hidden]="prenom.valid || prenom.pristine" style="color: red;">
                    Le prénom ne doit comporter que des lettres</p>
            </div>
        </div>
        <div class="mail">
            <div>
                <div>Email</div>
                <input type="email"
                placeholder="Votre mail: jean@mail.com"
                formControlName="mail"
                >
                <p [hidden]="mail.valid || mail.pristine" style="color: red;">Mail invalid</p>
                
            </div>
        </div>
        <div class="message">
            <div>
                <div>Message</div>
                <textarea
                rows="5" cols="33"
                placeholder="Votre Message"
                formControlName="message">
                </textarea>
            </div>
        </div>
        <input type="submit" style="margin-top: 10px;"
        [ngClass]="{'red' : !contactForm.valid ,
                    'green' : contactForm.valid}"
                    [disabled]="!contactForm.valid" > 
        <span *ngIf="isSubmit">Votre message a été envoyé</span>    
        
</form>
