<form class="container">   

    <h1 style="text-align: center;">Formulaire de contact</h1>
        <div class="nom_prenom">
            <div id="nom">
                <div>Nom</div>
                <input type="text"/>
            </div>
            <div id="prenom">
                <div>Prénom</div>
                <input type="text"/>
            </div>
        </div>
        <div class="mail">
            <div>
                <div>Email</div>
                <input type="email"/>
                
            </div>
        </div>
        <div class="message">
            <div>
                <div>Message</div>
                <textarea id="story" name="story"
                rows="5" cols="33">
                </textarea>
            </div>
        </div>
        <input type="submit" style="margin-top: 10px;">     

</form>
